<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-gamepad fa-6x"></i>
    <h1 class="display-3">Welcome to the game room!</h1>


    <% allPosts.forEach(function(post, index){ %>

    <div class="card text-left" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">by <%= post.author %> on <%= post.created_at%></h6>
        <p class="card-text"><%= (post.content).substring(0,100) %></p>


        <div class="jumbotron-sm">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#exampleModalLong-<%= index %>">
            Read More
          </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong-<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="width: 100%;">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><%= post.title %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= post.content %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-warning" data-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>


    <% }) %>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit an experience!</a>
  </div>
</div>

<%- include('partials/footer') %>
